/* You can add global styles to this file, and also import other style files */
html{
  height: 100%;
}
body{
  height: 100%;
  background-color: #d4e1cb !important;
  color: #364134 !important;
  // font-family: "Montserrat-Medium", sans-serif !important;
  font-family: 'Montserrat', sans-serif !important;
}
div{
  line-height: 30px !important;

}
