<div class="container" style=" display: grid">
  <div style="padding: 30px; text-align: center;">
    <h2 style="margin-bottom: 70px">Das CCC-Hitparädle</h2>
    <p>
      Hier könnt Ihr euer Radioprogramm bestimmen.
    </p>
    <p>
      <u>Hier</u> könnt ihr abstimmen und wir werten aus, welche Lieder eure Top 15 sind.
    </p>
    <p>
      Diese werden dann im März an folgenden Tagen auf Radio StHörfunk (online Radio) gespielt.
    </p>
    <div style="margin-top: 12vh;">
      <p>
        <a target="_blank" href="http://www.sthoerfunk.de/">Hier findet ihr die Seite von Radio StHörfunk.</a>
      </p>
      <p>
        <a target="_blank" href="http://www.sthoerfunk.de/sf-player.php">Und hier kommt ihr direkt zum online Radio.</a>
      </p>
    </div>

  </div>
  <div style="text-align: center;">
    <button type="submit" class="btn-submit">Zur Abstimmung</button>
  </div>
</div>

