<div class="container" style="height: 80%">
  <div style="padding: 30px">
    <h2>Das CCC-Hitparädle</h2>
    <p>
      Hier könnt Ihr euer Radioprogramm bestimmen.
    </p>
    <p>
      <u>Hier</u> könnt ihr abstimmen und wir werten aus, welche Lieder eure Top 15 sind.
    </p>
    <p>
      Diese werden dann im März an folgenden Tagen auf Radio StHörfunk (online Radio) gespielt.
    </p>
    <div>
      <a target="_blank" href="http://www.sthoerfunk.de/">Hier findet ihr die Seite von Radio StHörfunk.</a>
    </div>
    <div>
      <a target="_blank" href="http://www.sthoerfunk.de/sf-player.php">Und hier kommt ihr direkt zum online Radio.</a>
    </div>
  </div>
</div>

<div class="footer">
  Footer
</div>
