<div class="container" style=" display: grid">
  <div style="padding: 30px; text-align: center;">
    <h2 style="margin-bottom: 10px">Willkommen beim CCC-Hitparädle!</h2>
    <img style="width: 120px"
         [src]="'./assets/images/hea.png'"/>
    <p>
      Bald gibt's was auf die Ohren :)
    </p>
    <p>
      Die Abstimmung ist beendet, seid gespannt, welche Lieder es in die Sendung schaffen.
    </p>
    <p>
      Diese findet am 1. März auf Radio <a style="color: #85ad6e;" target="_blank" href="http://www.sthoerfunk.de/"><u>StHörfunk</u></a> statt (genaue Uhrzeit folgt).
    </p>
    <div style="margin-top: 15px">
      <p>
        <u>
          <a style="color: #85ad6e;" target="_blank" href="http://www.sthoerfunk.de/sf-player.php">Hier kommt ihr direkt zum Online-Radio</a>
        </u>
      </p>
      <p>
          Frequenzen: 97,5 FM in Schwäbisch Hall & 104,8 FM in Crailsheim
      </p>

    </div>
    <h4 style="margin-top: 50px">
      Die Gewinner werden in den nächsten Tagen benachrichtigt.
    </h4>
    <h4 style="">
      Danke fürs Mitmachen, <br><br>eure Covid-Chaos-Crew.
    </h4>
  </div>

</div>

